@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
	font-family: 'Nunito', serif;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

* {
	font-family: 'Nunito', serif;
}

/* Notification */

.notification {
	font-family: 'Nunito', serif;
	font-weight: bold;
	font-size: 1.1em;
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.success {
	color: #155724;
	background-color: #d4edda;
}

.error {
	color: #721c24;
	background-color: #f8d7da;
}