@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: 'Sunborn';
	src: url('./assets/fonts/Sunborn-SansOne.otf') format('opentype');
}

html,
body {
	overscroll-behavior: none;
}

.swiper-button-prev-pk.swiper-button-disabled,
.swiper-button-next-pk.swiper-button-disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.swiper-button-prev-p.swiper-button-disabled,
.swiper-button-next-p.swiper-button-disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	display: none;
	position: relative;
}

.swiper-button-next,
.swiper-button-prev {
	position: relative !important;
}