@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: 'Sunborn';
	src: url('./assets/fonts/Sunborn-SansOne.otf') format('opentype');
}

html,
body {
	overscroll-behavior: none;
	scroll-behavior: smooth;
}

.swiper-button-prev-pk.swiper-button-disabled,
.swiper-button-next-pk.swiper-button-disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.swiper-button-prev-p.swiper-button-disabled,
.swiper-button-next-p.swiper-button-disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.swiper-button-next::after,
.swiper-button-prev::after {
	display: none;
	position: relative;
}

.swiper-button-next,
.swiper-button-prev {
	position: relative !important;
}

/* bg-container yg dimaksud biar bisa atur opacity */
.bg-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('./assets/top-desc-leaves.png'); /* or use inline style in JSX */
	background-size: auto;
	background-position: center;
	opacity: 0.2; /* Adjust the opacity as needed */
	z-index: 0; /* Ensure the image stays behind the content */
}

.table-scrollbar::-webkit-scrollbar {
	width: 5px;
}

.table-scrollbar::-webkit-scrollbar-thumb {
	background-color: #4f4f4f;
}

.table-scrollbar::-webkit-scrollbar-track {
	background-color: transparent;
}

/* Custom CSS for Swiper pagination bullets */
.swiper-pagination-bullet {
	background: #eaffd3 !important; /* Change this to your desired color */
}

.swiper-pagination-bullet-active {
	background: #eaffd3 !important; /* Change this to your desired active color */
}
