@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: 'Sunborn';
	src: url('./assets/fonts/Sunborn-SansOne.otf') format('opentype');
}

@font-face {
	font-family: 'Lato';
	src: url('./assets/fonts/Lato/Lato-Regular.ttf') format('ttf');
}

.swiper-button-next::after,
.swiper-button-prev::after {
	display: none;
	position: relative;
}

.swiper-button-next,
.swiper-button-prev {
	position: relative !important;
}

/* bg-container yg dimaksud biar bisa atur opacity */
.bg-container::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url('./assets/dept-leaves.png'); /* or use inline style in JSX */
	background-size: auto;
	background-position: center;
	opacity: 0.15; /* Adjust the opacity as needed */
	z-index: 0; /* Ensure the image stays behind the content */
}
